html body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: beige;
    z-index: -1000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12,1fr)
}


header {
    grid-column: 1/-1;
    grid-row: 1/2;

    display: flex;
    justify-content: center;
    text-align: center;
   
    margin-top: 95px;
    font-size: 25px;
    padding: 10px;
    font-family: 'Libre Baskerville', serif;
    background: rgba(95, 94, 91, 0.6);
    font-weight: bolder;
    border-radius: 20px;
    border: 3px outset black;

}

header>h1 {
    color: rgb(4, 66, 4);

}

header>h4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    color: rgb(39, 124, 36);
    border-left: 4px solid black;
    border-right: 4px solid black;
    margin-left: 25px;
    margin-top: 50px;
    padding: 10px;
    z-index: 10;
    font-weight: bolder;
    text-decoration-line: underline;
}



nav {

    position: fixed;
    width: 100%; 
    background-color:black;
    opacity: .9;
    padding: 25px;
    margin: 0;
    z-index: 15;
    
}


.nav-links {

    text-decoration: none;
    color: burlywood;
    font-size: 20px;
    padding: 10px;
    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    
}
   

a:hover {
    color: lightsteelblue;
    text-decoration-line: overline;
    font-size: 50px;
}

main {
    grid-column: 1/-1;
    grid-row: 2/3;

    z-index: 10;
}

main>h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(104, 101, 101);
    
}


.main-paragraph {
    background-color: rgba(95, 94, 91, 0.6);
    font-family: 'Libre Baskerville', serif;
    margin: 20px 50px 20px 50px;
    padding: 5px 35px 15px 35px;
    border-radius: 20px;
    border: 3px outset black;
    text-align: center;
    
}


.main-paragraph>h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

ul {
    text-align: left;
}


footer {
    grid-column: 1/-1;
    grid-row: 3/4;

    background-color: black;
    border-radius: 20px;
    margin-top: 200px;
    padding: 20px 0px 20px 0px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
    color: burlywood;
    padding-left: 20px;
    
}

.email {
    text-decoration: none;
    color: burlywood;
}

.email:hover {
    text-decoration-line: underline;
}

table {

    margin-left: auto;
    margin-right: auto;
    background-color: slategrey;
    color: snow;
}
table, th, td {
    text-align: center;
    border: 3px outset black;
}

.table-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;

    background-color: rgb(4, 66, 4);

    grid-row: 4/8;
    grid-column: 4/8;
}

.centered-ul {
    text-align: center;
    list-style-position: inside;
    margin: 30px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 75%;
    height: auto;
    border: 5px solid black;
    border-radius: 5px;
}

@media only screen and (min-width: 700px) {

    body {
        background-image: url(http://lccabinetry.com/images/woods/full-image/white-oak.jpg);
    }
    
    .nav-links {
        font-size: 40px;
    
    }

    nav

    main>h1 {
        color: black;
        font-size: 60px;

    }

    header {
        font-size: 40px;
    }

}

@media only screen and (min-width: 1400px) {
    .pic {
        float: right;
        margin-top: auto;
        margin-bottom: auto;
    }
}




