#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20% 0;
    grid-gap: 16px;
}

.item1 {
    background-color: grey;
    padding: 50px;
    margin: 5px;
    border-radius: 5px;
    grid-column: 1/3


}
.item2 {
    background-color: teal;
    padding: 50px;
    margin: 5px;
    border-radius: 5px;
    grid-column: 3/6;
}

.item3 {
    background-color: navy;
    padding: 50px;
    margin: 5px;
    border-radius: 5px;
    grid-column: 1/2;
}

.item4 {
    background-color: darkkhaki;
    padding: 50px;
    margin: 5px;
    border-radius: 5px;
    grid-column: 2/6;
}
.item5 {
    background-color: maroon;
    padding: 50px;
    margin: 5px;
    border-radius: 5px;
    grid-column: 1/6;
}

#container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20% 0;
    grid-gap: 16px;
}

.item6 {
    background-color: grey;
    height: 50px;
    padding: 50px;
    border-radius: 5px;
    grid-column: 1/6
}

.item7 {
    background-color: teal; 
    padding: 50px;
    border-radius: 5px;
    grid-column: 1/3;
    grid-row: 2/4;
}

.item8 {
    background-color: navy;
    height: 50px;
    padding: 50px; 
    border-radius: 5px;
    grid-column: 3/5;
}
.item9 {
    background-color: darkkhaki;
    height: 50px;
    padding: 50px;
    border-radius: 5px;
    grid-column: 3/4;
}
.item10 {
    background-color: darkkhaki;
    height: 50px;
    padding: 50px;
    border-radius: 5px;
    grid-column: 4/5;
}
